<section class="slice py-2  background">
    <div class="container">
        <div class="row row row-grid align-items-center justify-content-center">
            <div class="pt-lg-5 pb-lg-5 pt-5 col-12 col-md-12 col-lg-11 order-md-2 text-center">
                <span class="h1 text-white shadow">Redefinir Senha</span>
            </div>
            <div class="col-11 col-md-10 col-lg-10 order-md-2 text-center">
                <form  *ngIf="!recovery_code" class="needs-validation card w-100" autocomplete="off" [formGroup]="alterForm" (ngSubmit)="alterPassword()">
                    <div class="form-row p-5 justify-content-center">
                        <div class="form-group col-12">
                            <span class="h3 my-5"> </span>
                        </div>  
                        <div *ngIf="isAlert" class="form-group col-12 col-lg-6 alert {{styleAlert}}" role="alert">
                            <strong>{{titleAlert}}:</strong> {{messageAlert}}
                        </div>   
                        <div class="form-group col-12 col-lg-6 mx-10">
                            <input [ngClass]="{'is-invalid': alterForm.get('current_password').invalid && alterForm.get('current_password').dirty }" required formControlName="current_password" type="password" class="form-control" placeholder="Senha Atual">
                        </div>                 
                        <div class="form-group col-12 col-lg-6 mx-10">
                            <input  minlength="6" [ngClass]="{'is-invalid': alterForm.get('password').invalid && alterForm.get('password').dirty }" required formControlName="password" type="password" class="form-control" placeholder="Nova Senha (Minimo 6 caracteres)">
                        </div>
                        <div class="form-group col-12 col-lg-6 mx-10">
                            <input  minlength="6" [ngClass]="{'is-invalid': alterForm.get('confirm_password').invalid && alterForm.get('confirm_password').dirty }" required formControlName="confirm_password" type="password" class="form-control" placeholder="Confirme Senha">
                            <div class="invalid-feedback">
                                Os campos senha e confirmação de senha devem ser iguais.
                              </div>
                        </div> 
                        <div class="form-group col-12 text-center">
                            <button type="submit" [disabled]="alterForm.invalid" class="text-white btn custom-btn-primary">
                                Redefinir Senha
                            </button>
                        </div>
                    </div>
                </form>
                
                <form *ngIf="recovery_code" class="card w-100" autocomplete="off" [formGroup]="recoveryForm" (ngSubmit)="recoveryPassword()">
                    <div class="form-row p-5 justify-content-center">
                        <div class="form-group col-12">
                            <span class="h3 my-5"> </span>
                        </div>  
                        <div *ngIf="isAlert" class="form-group col-12 col-lg-6 alert {{styleAlert}}" role="alert">
                            <strong>{{titleAlert}}:</strong> {{messageAlert}}
                        </div>                   
                        <div class="form-group col-12 col-lg-6 mx-10">
                            <input minlength="6" [ngClass]="{'is-invalid': recoveryForm.get('password').invalid && recoveryForm.get('password').dirty }" required formControlName="password" type="password" class="form-control" placeholder="Nova Senha">
                        </div>
                        <div class="form-group col-12 col-lg-6 mx-10">
                            <input minlength="6" [ngClass]="{'is-invalid': recoveryForm.get('confirm_password').invalid && recoveryForm.get('confirm_password').dirty }" required formControlName="confirm_password" type="password" class="form-control" placeholder="Confirme Senha">
                        </div> 
                        <div class="form-group col-12 text-center">
                            <button type="submit" [disabled]="recoveryForm.invalid" class="text-white btn custom-btn-primary">
                                Confirmar Senha
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>