.background{
    background-image: url('/assets/img/banner/banner5/3219699.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.shadow{
    text-shadow: 2px 2px 5px black;
}
.img_jobs{
    //width: 20%;
    width: 100%;
}